In [259]:
import pandas as pd

In [260]:
df = pd.read_csv('data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [261]:
df = df.dropna()

In [262]:
df_clean = pd.get_dummies(df).astype(float)
df_clean = df_clean.drop(columns=['id','age','avg_glucose_level', 'bmi'])
df_clean

,hypertension,heart_disease,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
5106,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5107,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5108,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5109,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

# Modelo de classificação DecisionTreeClassifier

Explicação célula 0:

Importância: 

from sklearn.tree import DecisionTreeClassifier: importa o modelo DecisionTreeClassifier, que é um modelo de classificação que será utilizado.

from sklearn.model_selection import train_test_split: importa a função train_test_split, que será utilizada para separar os dados em treino e teste.

Resultado:  Módulos necessários para o projeto importados .

--> célula 0

In [263]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

Explicação célula 1:

Importância: Gerar as features. Para isso iremos remover a coluna stroke do nosso dataset, df_clean pois ela é o target, e não uma feature.

Resultado: pandas DataFrame com as features

--> célula 1

In [264]:
# dataset 
# data, all columns except stroke
X = df_clean.drop(columns=["stroke"])
type(X)

pandas.core.frame.DataFrame

Explicação célula 2:

Importância: Gerar o target. Para isso iremos selecionar apenas a coluna stroke do nosso dataset, df_clean pois ela é o target, e não uma feature.

Resultado: pandas Series com o target

--> célula 2

In [265]:
# target, only stroke column
Y = df_clean["stroke"]
Y

0       1.0
2       1.0
3       1.0
4       1.0
5       1.0
       ...
5104    0.0
5106    0.0
5107    0.0
5108    0.0
5109    0.0
Name: stroke, Length: 4909, dtype: float64

Explicação célula 3:

Importância: Para que o nosso modelo não seja treinado com os próprios dados que serão usados para avaliar sua performance, é necessário separar os dados em treino e teste. Para isso iremos utilizar a função train_test_split, que irá separar os dados em treino e teste, de acordo com os parâmetros passados.

Resultado: 

X_train, (features de treino)

X_test, (features de teste)

y_train, (target de treino)

y_test, (target de teste)

--> célula 3

In [266]:
# split dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.5)

Explicação célula 4:

Importância: Treinar o modelo. Para isso iremos utilizar a função fit, que irá treinar o modelo com os dados de treino. Iremos inicializar o modelo DecisionTreeClassifier, e passar os dados de treino para a função fit.

Resultado: Modelo treinado

--> célula 4

In [267]:
clf = DecisionTreeClassifier()
clf.fit(X_train, Y_train)

DecisionTreeClassifier()

Explicação célula 5:

Importância: Avaliar o modelo. Para isso iremos utilizar a função score, que irá avaliar o modelo com os dados de teste. Iremos passar os dados de teste para a função score.

Resultado: Score do modelo

--> célula 5

In [268]:
print(f"Accuracy: {clf.score(X_test, Y_test)}")

Accuracy: 0.9527494908350306

Explicação célula 6:

Importância: Avaliar as features mais importantes para o modelo. Para isso iremos utilizar o atributo feature_importances_, que irá avaliar as features mais importantes para o modelo.


Resultado: Lista com as features mais importantes para o modelo e o seu respectivo valor de importância. Ordenado de forma decrescente.

--> célula 6

In [271]:
importance = []
for i in range(len(clf.feature_importances_)):
   importance.append((X.columns[i],clf.feature_importances_[i]))

# display the importance of each attribute, sorted 
importance.sort(key=lambda x: x[1], reverse=True)
importance

[('smoking_status_never smoked', 0.15261914571655094),
 ('gender_Male', 0.10150746687732964),
 ('heart_disease', 0.09351245008469822),
 ('gender_Female', 0.09154024993931627),
 ('hypertension', 0.08919579611001185),
 ('Residence_type_Rural', 0.07768998386151876),
 ('smoking_status_Unknown', 0.07252746989411972),
 ('work_type_Govt_job', 0.06111084226397998),
 ('work_type_Private', 0.05464165804554581),
 ('ever_married_No', 0.04793140506573098),
 ('smoking_status_formerly smoked', 0.042025348486053576),
 ('smoking_status_smokes', 0.04068730294506316),
 ('Residence_type_Urban', 0.036117225447184355),
 ('ever_married_Yes', 0.02038142108823984),
 ('work_type_Self-employed', 0.018512234174656785),
 ('gender_Other', 0.0),
 ('work_type_Never_worked', 0.0),
 ('work_type_children', 0.0)]